<?xml version="1.0" ?>

<robot name="pan_and_tilt" xmlns:xacro="http://www.ros.org/wiki/xacro">

  

  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>



  <!--
        RGB CAMERAS:
-->
        <link name="main_camera_link">
            <!-- Inertial for gazebo to take it into account, Put 1gr weight -->
            <inertial>
                <origin xyz="0 0 2.0" rpy="0 0 0"/>
                <mass value="${maincamera_mass}" />
                <box_inertia 
				m="${maincamera_mass}" 
				x="${maincamera_size_long}" 
				y="${maincamera_size_short}" 
				z="${maincamera_size_short}"/>
            </inertial>
    		<visual>
                <origin rpy="0.0 0 0" xyz="0.00312 0 0.11152"/>
                <geometry>
                    <box size="${maincamera_size_long} ${maincamera_size_short} ${maincamera_size_short}"/>
                </geometry>
            </visual>
    	</link>
    
        <gazebo reference="main_camera_link">
            <material>Gazebo/Green</material>
        </gazebo>
    
        <joint name="main_camera_joint" type="fixed">
            <parent link="face_link"/>
            <child link="main_camera_link"/>
            <origin xyz="$0 1.0 0" rpy="0 0 0"/>
        </joint>
    
        <!-- camera -->
      <gazebo reference="main_camera_link">
        <sensor type="camera" name="camera1">
          <update_rate>10.0</update_rate>
          <camera name="main_cam">
    
              <pose>0 0 0 0 0 0</pose>
    
            <horizontal_fov>1.3962634</horizontal_fov>
            <image>
              <width>400</width>
              <height>400</height>
              <format>R8G8B8</format>
            </image>
            <clip>
              <near>0.01</near>
              <far>10.0</far>
            </clip>
            <noise>
              <type>gaussian</type>
              <stddev>0.0</stddev>
            </noise>
          </camera>
          <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>0.0</updateRate>
            <cameraName>pan_and_tilt/main_cam</cameraName>
            <imageTopicName>image_raw</imageTopicName>
            <cameraInfoTopicName>camera_info</cameraInfoTopicName>
            <frameName>main_camera_link</frameName>
            <hackBaseline>0.07</hackBaseline>
            <distortionK1>0.0</distortionK1>
            <distortionK2>0.0</distortionK2>
            <distortionK3>0.0</distortionK3>
            <distortionT1>0.0</distortionT1>
            <distortionT2>0.0</distortionT2>
          </plugin>
        </sensor>
      </gazebo>
   <xacro:include filename="$(find pan_and_tilt_description)/robot/common_properties1.xacro" />




        <link name="main_camera_link_2">


            <!-- Inertial for gazebo to take it into account, Put 1gr weight -->
            


            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="0.001" />
                <box_inertia 
				m="0.001" 
				x="0.25" 
				y="0.01" 
				z="0.01"/>
            </inertial>


    	    <visual>
                <origin rpy="0.0 0 0" xyz="0 0 0"/>
                <geometry>
                    <box size="0.25 0.01 0.01"/>
                </geometry>
            </visual>


            <collision>
                <origin rpy="0.0 0 0" xyz="0 0 0"/>
                <geometry>
                    <box size="0.25 0.01 0.01"/>
                </geometry>                
            </collision>

    	</link>
    
        <gazebo reference="main_camera_link_2">
            <material>Gazebo/Green</material>
        </gazebo>
    
        <joint name="main_camera_joint_2" type="fixed">
            <parent link="base_chassis"/>
            <child link="main_camera_link_2"/>
            <origin xyz="0.08 0 0.174219" rpy="0 0 0"/>
        </joint>
    
        <!-- camera -->
      <gazebo reference="main_camera_link_2">
        <sensor type="camera" name="camera2">
          <update_rate>10.0</update_rate>
          <camera name="main_cam_2">
    
              <pose>0 0 0 0 0 0</pose>
    
            <horizontal_fov>0.3962634</horizontal_fov>
            <image>
              <width>400</width>
              <height>400</height>
              <format>R8G8B8</format>
            </image>
            <clip>
              <near>0.01</near>
              <far>10.0</far>
            </clip>
            <noise>
              <type>gaussian</type>
              <stddev>0.0</stddev>
            </noise>
          </camera>
          <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>0.0</updateRate>
            <cameraName>/main_cam_2</cameraName>
            <imageTopicName>image_raw</imageTopicName>
            <cameraInfoTopicName>camera_info</cameraInfoTopicName>
            <frameName>main_camera_link_2</frameName>
            <hackBaseline>0.07</hackBaseline>
            <distortionK1>0.0</distortionK1>
            <distortionK2>0.0</distortionK2>
            <distortionK3>0.0</distortionK3>
            <distortionT1>0.0</distortionT1>
            <distortionT2>0.0</distortionT2>
          </plugin>
        </sensor>
      </gazebo>




    <!--base_chassis--> 
  <link name="base_chassis">
    <visual>
      <origin rpy="0.0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
      <material name="blue"/>
    </visual>

    <collision>
      <origin rpy="0.0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>        
    </collision>

    <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="2.0"/>
        <inertia ixx="0.0027" ixy="0.0" ixz="0.0" iyy="0.0027" iyz="0.0" izz="0.005"/>
    </inertial>

  </link>

<joint name="fixed_base" type="fixed">
    <parent link="world"/>
    <child link="base_chassis"/>
</joint> 
        <gazebo reference="base_chassis">
            <kp>100000.0</kp>
            <kd>100000.0</kd>
            <mu1>0.5</mu1>
            <mu2>0.5</mu2>
            <material>Gazebo/Green</material>
        </gazebo>


  <link name="right_leg">
    <visual>
      <geometry>
        <box size="0.6 0.1 0.2"/>
      </geometry>
      <origin rpy="0 1.57075 0" xyz="0 0 -0.3"/>
      <material name="white"/>
    </visual>

    <collision>
      <geometry>
        <box size="0.6 0.1 0.2"/>
      </geometry>
      <origin rpy="0 1.57075 0" xyz="0 0 -0.3"/>
    </collision>

    <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="1.0"/>
        <inertia ixx="0.02176" izz="0.00125" iyy="0.02146" ixy= "0.0" ixz="0.0"  iyz="0.0"/>
    </inertial>

  </link>

  <joint name="base_to_right_leg" type="fixed">
    <parent link="base_link"/>
    <child link="right_leg"/>
    <origin xyz="0 -0.22 0.0"/>
  </joint>
        <gazebo reference="right_leg">
            <kp>100000.0</kp>
            <kd>100000.0</kd>
            <mu1>10.0</mu1>
            <mu2>10.0</mu2>
            <material>Gazebo/Silver</material>
        </gazebo>

  <link name="right_base">
    <visual>
      <geometry>
        <box size="0.4 0.1 0.1"/>
      </geometry>
      <material name="white"/>
    </visual>

    <collision>
      <geometry>
        <box size="0.4 0.1 0.1"/>
      </geometry>        
    </collision>

    <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="1.0"/>
        <inertia ixx="0.02176" izz="0.00125" iyy="0.02146" ixy= "0.0" ixz="0.0"  iyz="0.0"/>
    </inertial>
    
  </link>

  <joint name="right_base_joint" type="fixed">
    <parent link="right_leg"/>
    <child link="right_base"/>
    <origin xyz="0 0 -0.6"/>
  </joint>
        <gazebo reference="right_base">
            <kp>100000.0</kp>
            <kd>100000.0</kd>
            <mu1>10.0</mu1>
            <mu2>10.0</mu2>
            <material>Gazebo/Silver</material>
        </gazebo>

  <link name="right_front_wheel">
    <visual>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.1" radius="0.035"/>
      </geometry>
      <material name="black"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>

    <collision>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.1" radius="0.035"/>
      </geometry>       
    </collision>

    <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="1.0"/>
        <inertia ixx="0.02176" izz="0.00125" iyy="0.02146" ixy= "0.0" ixz="0.0"  iyz="0.0"/>
    </inertial>
    
  </link>

  <joint name="right_front_wheel_joint" type="fixed">
    <parent link="right_base"/>
    <child link="right_front_wheel"/>
    <origin rpy="0 0 0" xyz="0.133333333333 0 -0.085"/>
  </joint>

        <gazebo reference="right_front_wheel">
            <kp>100000.0</kp>
            <kd>100000.0</kd>
            <mu1>10.0</mu1>
            <mu2>10.0</mu2>
            <material>Gazebo/Black</material>
        </gazebo>

    <link name="right_back_wheel">
    <visual>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.1" radius="0.035"/>
      </geometry>
      <material name="black"/>
    </visual>

    <collision>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.1" radius="0.035"/>
      </geometry>       
    </collision>

    <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="1.0"/>
        <inertia ixx="0.02176" izz="0.00125" iyy="0.02146" ixy= "0.0" ixz="0.0"  iyz="0.0"/>
    </inertial>

  </link>

  <joint name="right_back_wheel_joint" type="fixed">
    <parent link="right_base"/>
    <child link="right_back_wheel"/>
    <origin rpy="0 0 0" xyz="-0.133333333333 0 -0.085"/>
  </joint>
        <gazebo reference="right_back_wheel">
            <kp>100000.0</kp>
            <kd>100000.0</kd>
            <mu1>10.0</mu1>
            <mu2>10.0</mu2>
            <material>Gazebo/Black</material>
        </gazebo>

  <link name="left_leg">
    <visual>
      <geometry>
        <box size="0.6 0.1 0.2"/>
      </geometry>
      <origin rpy="0 1.57075 0" xyz="0 0 -0.3"/>
      <material name="white"/>
    </visual>

    <collision>
      <geometry>
        <box size="0.6 0.1 0.2"/>
      </geometry>
      <origin rpy="0 1.57075 0" xyz="0 0 -0.3"/>        
    </collision>

    <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="1.0"/>
        <inertia ixx="0.02176" izz="0.00125" iyy="0.02146" ixy= "0.0" ixz="0.0"  iyz="0.0"/>
    </inertial>
    
  </link>

  <joint name="base_to_left_leg" type="fixed">
    <parent link="base_link"/>
    <child link="left_leg"/>
    <origin xyz="0 0.22 0.0"/>
  </joint>

        <gazebo reference="left_leg">
            <kp>100000.0</kp>
            <kd>100000.0</kd>
            <mu1>10.0</mu1>
            <mu2>10.0</mu2>
            <material>Gazebo/Silver</material>
        </gazebo>

    <link name="left_base">
    <visual>
      <geometry>
        <box size="0.4 0.1 0.1"/>
      </geometry>
      <material name="white"/>
    </visual>

    <collision>
      <geometry>
        <box size="0.4 0.1 0.1"/>
      </geometry>        
    </collision>

    <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="1.0"/>
        <inertia ixx="0.02176" izz="0.00125" iyy="0.02146" ixy= "0.0" ixz="0.0"  iyz="0.0"/>
    </inertial>
    
  </link>

  <joint name="left_base_joint" type="fixed">
    <parent link="left_leg"/>
    <child link="left_base"/>
    <origin xyz="0 0 -0.6"/>
  </joint>

        <gazebo reference="left_base">
            <kp>100000.0</kp>
            <kd>100000.0</kd>
            <mu1>10.0</mu1>
            <mu2>10.0</mu2>
            <material>Gazebo/Silver</material>
        </gazebo>

    <link name="left_front_wheel">
    <visual>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.1" radius="0.035"/>
      </geometry>
      <material name="black"/>
    </visual>

    <collision>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.1" radius="0.035"/>
      </geometry>        
    </collision>

    <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="1.0"/>
        <inertia ixx="0.02176" izz="0.00125" iyy="0.02146" ixy= "0.0" ixz="0.0"  iyz="0.0"/>
    </inertial>
    
  </link>

  <joint name="left_front_wheel_joint" type="fixed">
    <parent link="left_base"/>
    <child link="left_front_wheel"/>
    <origin rpy="0 0 0" xyz="0.133333333333 0 -0.085"/>
  </joint>

          <gazebo reference="left_front_wheel">
            <kp>100000.0</kp>
            <kd>100000.0</kd>
            <mu1>10.0</mu1>
            <mu2>10.0</mu2>
            <material>Gazebo/Black</material>
        </gazebo>

  <link name="left_back_wheel">
    <visual>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.1" radius="0.035"/>
      </geometry>
      <material name="black"/>
    </visual>

    <collision>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.1" radius="0.035"/>
      </geometry>        
    </collision>

    <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="1.0"/>
        <inertia ixx="0.02176" izz="0.00125" iyy="0.02146" ixy= "0.0" ixz="0.0"  iyz="0.0"/>
    </inertial>
    
  </link>
  <joint name="left_back_wheel_joint" type="fixed">
    <parent link="left_base"/>
    <child link="left_back_wheel"/>
    <origin rpy="0 0 0" xyz="-0.133333333333 0 -0.085"/>
  </joint>

        <gazebo reference="left_back_wheel">
            <kp>100000.0</kp>
            <kd>100000.0</kd>
            <mu1>10.0</mu1>
            <mu2>10.0</mu2>
            <material>Gazebo/Black</material>
        </gazebo>



   <!-- 0.torso -->
  
  <link name="torso">
    <inertial>
      <mass value="3.99533"/>
      <inertia ixx="0.0452761" ixy="0" ixz="0.00499091" iyy="0.0432702" iyz="-0.000266886" izz="0.0258881"/>
      <origin rpy="0 0 0" xyz="0.00322 0 -0.01029"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://pan_and_tilt_description/meshes/1.0/Torso.dae" scale="0.1 0.1 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://pan_and_tilt_description/meshes/1.0/Torso_0.10.stl" scale="0.1 0.1 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>


  <gazebo reference="torso">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <selfCollide>false</selfCollide>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>


  <joint name="base_link_fixedjoint" type="fixed">
    <parent link="base_chassis"/>
    <child link="torso"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <axis xyz="0 0 0"/>
  </joint>




    <!--base_link-->    
    <link name="base_link">

            <visual>
                <origin rpy="0.0 0 0" xyz="0 0 0.3"/>
                <geometry>
                    <box size="${base_short} ${base_short} ${base_long}"/>
                </geometry>
            </visual>

            <collision>
                <origin xyz="0 0 0.3" rpy="0 0 0"/>
                <geometry>
                    <box size="${base_short} ${base_short} ${base_long}"/>
                </geometry>
            </collision>

	        <inertial>
                <origin xyz="0 0 0.3" rpy="0 0 0"/>
                <mass value="${joints_mass}" />
                <box_inertia 
				m="${base_mass}" 
				x="${base_short}" 
				y="${base_short}" 
				z="${base_long}"/>
				
            </inertial>
    </link>
    
        <joint name="world_faceankor_joint" type="fixed">
            <parent link="torso"/>
            <child link="base_link"/>
            <origin xyz="0.0 0.0 0.3" rpy="0 0 0"/>
        </joint>


  <gazebo reference="base_link">
    <turnGravityOff>false</turnGravityOff>
  </gazebo>




    <!--yaw_link--> 

        
	<link name="yaw_link">

            <visual>
                <origin rpy="0.0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://pan_and_tilt_description/meshes/1.0/HeadYaw.dae" scale="0.1 0.1 0.1"/>
                </geometry>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://pan_and_tilt_description/meshes/1.0/HeadYaw_0.10.stl" scale="0.1 0.1 0.1"/>
                </geometry>
            </collision>

     	    <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="0.27391" />
                <inertia ixx="0.000343501" ixy="0" ixz="-1.88563e-05" iyy="0.000493898" iyz="2.09863e-06" izz="0.000215252"/>
				
            </inertial>
    </link>
        



        <gazebo reference="yaw_link">
            <kp>100000.0</kp>
            <kd>100000.0</kd>
            <mu1>0.5</mu1>
            <mu2>0.5</mu2>
            <material>Gazebo/Blue</material>
            <selfCollide>false</selfCollide>
            <turnGravityOff>false</turnGravityOff>
        </gazebo>


        <joint name="yaw_joint" type="continuous">
        	<parent link="base_link"/>
            <child link="yaw_link"/>
            <origin xyz="-0.038 0 0.1699" rpy="0 0 0"/>
            <limit effort="${joint_yaw_max_effort}"  lower="-2.08567" upper="2.08567"
 velocity="${joint_yaw_max_speed}"/>
            <axis xyz="0 0 1"/>
	    </joint>


	    
    	<transmission name="tran1">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="yaw_joint">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="motor1">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>101.3</mechanicalReduction>
            </actuator>
        </transmission>



    
    <!--pitch_link-->


    	<link name="pitch_link">
            <visual>
                <origin rpy="0.0 0 0" xyz="0 0 0"/>
                <geometry>
                   <mesh filename="package://pan_and_tilt_description/meshes/1.0/HeadPitch.dae" scale="0.1 0.1 0.1"/>
                </geometry>
            </visual> 

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                   <mesh filename="package://pan_and_tilt_description/meshes/1.0/HeadPitch_0.10.stl" scale="0.1 0.1 0.1"/>
                </geometry>
            </collision> 

     	    <inertial>
                <origin xyz="0.00312 0 0.11152" rpy="0 0 0"/>
                <mass value="1.51893" />
                <inertia ixx="0.00597209" ixy="0" ixz="0.000125138" iyy="0.0059054" iyz="4.3428e-07" izz="0.00570374"/>
				
            </inertial>

        </link>
        
        <gazebo reference="pitch_link">
            <kp>100000.0</kp>
            <kd>100000.0</kd>
            <mu1>0.5</mu1>
            <mu2>0.5</mu2>
            <material>Gazebo/Green</material>
            <selfCollide>false</selfCollide>
            <turnGravityOff>false</turnGravityOff>
        </gazebo>


	<joint name="pitch_joint" type="revolute">
		<parent link="yaw_link"/>
		<child link="pitch_link"/>
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
		<limit lower="-0.7" upper="0.7" effort="${joint_pitch_effort}" velocity="${joint_pitch_max_speed}"/>
		<axis xyz="0 1 0"/>
	</joint>
	    
	    
    	<transmission name="tran2">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="pitch_joint">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="motor2">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>118.1</mechanicalReduction>
            </actuator>
        </transmission>        
	    
    	

    
</robot>

